<h1>Welcome Employee, {{empUname}}!</h1><br>
<div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#"> <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#"></a>
            <a class="nav-item nav-link" href="#"></a>
          </div>
      </nav>
</div>
<br>
<div class="row">
    <div class="col-6 box">
        <div class="content">
            <h3>Send Request</h3>
                <form [formGroup] = "reqRef" (ngSubmit)="sendReq()">
                    <label class="form-label" >Product</label>
                    <select class="form-control" formControlName="product" required>
                        <option *ngFor="let product of productArray">{{product.name}}</option>
                    </select>
                    <br>
                    <label class="form-label" >Action</label>
                    <select class="form-control" formControlName="action" required>
                        <option>Increase Stock</option>
                        <option>Decrease Stock</option>
                        <option>Update Info</option>
                        <option>Delete Product</option>
                    </select><br>
                    <input class="btn btn-primary" type="submit" value="Send Request"/> &nbsp;&nbsp; 
                    <input class="btn btn-secondary" type="reset" value="reset"/>
                </form>
        </div>
    </div>
    <div class="col-6 box">
        <div class="content">
            <h3>Update Order Status</h3>
                <form [formGroup] = "orderRef" (ngSubmit)="updateOrder()">
                    <label class="form-label" >Order</label>
                    <select class="form-control" formControlName="order" required>
                        <option *ngFor="let order of orderArray">{{order._id}}</option>
                    </select>
                    <br>
                    <label class="form-label" >New Status</label>
                    <select class="form-control" formControlName="status" required>
                        <option>Shipped</option>
                        <option>Out for Delivery</option>
                        <option>Deliverd</option>
                        <option>Canceled</option>
                    </select><br>
                    <input class="btn btn-primary" type="submit" value="Update Order"/> &nbsp;&nbsp; 
                    <input class="btn btn-secondary" type="reset" value="reset"/>
                </form>
        </div>
    </div>
</div><br><br><br><br>
<div class="row">
    <div class="col-6 box">
        <div class="content">
            <h3>Unblock Users</h3>
            <input type="submit" value="View Tickets" (click)="viewTickets()"><br>
            <br>
            <div>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>User Name</th>
                            <th>Reason</th>
                            <th>Unblock</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let t of ticketsArray">
                            <td>{{t.username}}</td> 
                            <td>{{t.reason}}</td>
                            <td><input type="button" value="Unblock" (click)="unblockUser(t.username)"/></td>
                        </tr>
                    </tbody>
                </table>
                {{ticketMsg}}
            </div>
        </div>
    </div>
    <div class="col-6 box">
        <div class="content">
            <h3>Edit Profile</h3>
            <form [formGroup] = "changeRef" (ngSubmit)="changePassword()">
                <input class="btn btn-primary" type="submit" value="Change Password">
            </form>
            <br>
            <h3>Logout</h3>
            <a routerLink="/app-users-main">
                <button type="submit" class="btn btn-danger">Log Out</button>
            </a>
        </div>
    </div>
</div>

