<h1>Welcome Employee, {{empUname}}!</h1><br>
<div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#"> <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#"></a>
            <a class="nav-item nav-link" href="#"></a>
          </div>
      </nav>
</div>
<br>
<div class="row">
    <div class="col-6 box">
        <div class="content">
            <h3>Send Request</h3>
                <form [formGroup] = "reqRef" (ngSubmit)="sendReq()">
                    <label class="form-label" >Product</label>
                    <select class="form-control" formControlName="product" required>
                        <option>Product1</option>
                        <option>Product2</option>
                        <option>Product3</option>
                        <option>Product4</option>
                    </select>
                    <!-- NEED AN NG FOR FOR THE PRODUCTS AVAILABLE THIS IS TEMP
                    <select class="form-control" formControlName="product" required>
                        <option *ngFor="let product of productArray">{{product._id}}</option>
                    </select> -->
                    <br>
                    <label class="form-label" >Action</label>
                    <select class="form-control" formControlName="action" required>
                        <option>Increase Stock</option>
                        <option>Decrease Stock</option>
                        <option>Update Info</option>
                        <option>Delete Product</option>
                    </select><br>
                    <input class="btn btn-primary" type="submit" value="Send Request"/> &nbsp;&nbsp; 
                    <input class="btn btn-secondary" type="reset" value="reset"/>
                </form>
        </div>
    </div>
    <div class="col-6 box">
        <div class="content">
            <h3>Update Order Status</h3>
                <form [formGroup] = "orderRef" (ngSubmit)="updateOrder()">
                    <label class="form-label" >Order</label>
                    <select class="form-control" formControlName="order" required>
                        <option *ngFor="let order of orderArray">{{order._id}}</option>
                    </select>
                    <br>
                    <label class="form-label" >New Status</label>
                    <select class="form-control" formControlName="status" required>
                        <option>Shipped</option>
                        <option>Out for Delivery</option>
                        <option>Deliverd</option>
                        <option>Canceled</option>
                    </select><br>
                    <input class="btn btn-primary" type="submit" value="Update Order"/> &nbsp;&nbsp; 
                    <input class="btn btn-secondary" type="reset" value="reset"/>
                </form>
        </div>
    </div>
</div><br><br><br><br>
<div class="row">
    <div class="col-6 box">
        <div class="content">
            <h3>Unblock Users</h3>
                <form [formGroup] = "blockedRef" (ngSubmit)="unblockUser()">
                    <label class="form-label" >User</label>
                    <select class="form-control" formControlName="user" required>
                        <!--NEED AN NG FOR FOR THE ORDERS AVAILABLE THIS IS TEMP-->
                        <option>Blocked User 1</option>
                        <option>Blocked User 2</option>
                        <option>Blocked User 3</option>
                        <option>Blocked User 4</option>
                    </select><br>
                    <input class="btn btn-primary" type="submit" value="Unblock User"/> &nbsp;&nbsp; 
                    <input class="btn btn-secondary" type="reset" value="reset"/>
                </form>
                <!-- 
                <table border="1">
                    <tr>
                        <th>Customer Id</th>
                        <th>Customer Name</th>
                        <th>Customer Age</th>
                        <th>Delete</th>
                        <th>Update</th>
                    </tr>
                    <tr *ngFor="let customer of customers">
                        <td>{{customer.cid}}</td>
                        <td>{{customer.cname}}</td>
                        <td>{{customer.age}}</td>
                    <td><input type="button" value="Delete" (click)="deleteRec(customer.cid)"/></td>
                    <td><input type="button" value="Update" (click)="updateAge(customer.cid,customer.age)"/></td> 
                    </tr>
                </table>
                
                -->
        </div>
    </div>
    <div class="col-6 box">
        <div class="content">
            <h3>Edit Profile</h3>
            <form [formGroup] = "changeRef" (ngSubmit)="changePassword()">
                <input class="btn btn-primary" type="submit" value="Change Password">
            </form>
            <br>
            <h3>Logout</h3>
            <a routerLink="/app-users-main">
                <button type="submit" class="btn btn-danger">Log Out</button>
            </a>
        </div>
    </div>
</div>

