<div class="background">
  <h1>Change Password For {{user}}</h1>
  <div class="card">
    <div class="content">
      <form [formGroup]="changeRef" (ngSubmit)="changePass()">
        <label class="form-label">New Password</label>
        <input class="form-control" type="text" formControlName="password" /><br />
        <input class="btn btn-primary" type="submit" value="Change Password" />&nbsp;&nbsp;
        <input class="btn btn-secondary" type="reset" value="reset" />
      </form>
      <br />
      {{msg}}
    </div>
  </div>


</div>
