
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="wrapper">
  <div id="formContent">

    <div>
      <h2 style="font-family: Inconsolata;">User Sign-Up</h2>
    </div>

    <form [formGroup]="userRef" (ngSubmit)="signUp()">

      <input class="form-control" type="text" formControlName="fname" placeholder="First Name" required /><br />

      <input class="form-control" type="text" formControlName="lname" placeholder="Last Name" required /><br />

      <input class="form-control" type="text" formControlName="email" placeholder="Email" required /><br />

      <input class="form-control" type="text" formControlName="phone" placeholder="Phone Number" required /><br />

      <input class="form-control" type="text" formControlName="address" placeholder="Address" required /><br />

      <input class="form-control" type="text" formControlName="password" placeholder="Password" required />
      <input class="btn btn-primary" type="submit" value="Sign Up" /> &nbsp;&nbsp;
      <input class="btn btn-secondary" type="reset" value="reset" />
    </form>

  </div>
  <br />
  <br />
  <span style="color: red;">{{msg}}</span>
</div>
