<div class="wrapper">
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
    <a class="navbar-brand" href="#" style="font-family: Inconsolata; font: 50px;">G20 Grocers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="mainbody">
    <h1>Always Fresh</h1>
  </div>
  <div class="TextField">
    <p class="lead" style="font-size:20px">We work hard to make sure your purchases are of the highest quality</p>
  </div>

  <div class="bg-image flex-grow-1 text-center align-middle">
    <div class="form-group-button">
      <a routerLink="app-users-main">
        <button type="submit" class="btn btn-transparent btn-lg" style="color: white; border-color: white; font-size: 30px;" >Shop Now</button>
      </a>
    </div>
  </div>
</div>

