<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allison">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
  <style>
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      z-index: 3;
      color: #fff;
    }

    .body {
      background-color: #343a40;
    }

    html, body, .full-height {
      height: 100%
    }

    .full-height {
      display: flex;
      flex-direction: column;
    }
  </style>
</head>

<router-outlet></router-outlet>

