<h2>Add Products</h2>
<div>
    <form ngNativeValidate>
        <label>Product Name: </label>
        <input type="text" required formControlName="productName"/><br/>
        <label>Price: </label>
        <input type="text" required formControlName="productPrice"/><br/>
        <label>Quantity: </label>
        <input type="text" required formControlName="productQuantity"/><br/>
        <label>Image Url: </label>
        <input type="text" required formControlName="productImg"/><br/>

        <input type="submit" value="Add Product">
        <input type="reset" value="Reset">
    </form>
    <br/>
</div>
