<div class="wrapper">
  <div class="row">
    <div class="col-sm-4 no-float align-self-center" style="background-image: url('../../assets/ShopNow-BG2.png'); background-position: right -40vh top -40vh;">
      <div class="form-group-button">
        <!-- TODO: Add Customer login link -->
        <a routerLink="/userLogin"> 
          <button type="submit" class="btn btn-transparent btn-lg" style="color: white; border-color: white; font-size: 50px;">Customer</button>
        </a>
      </div>
    </div>
    <div class="col-sm-4 no-float align-self-center" style="background-image: url('../../assets/ShopNow-BG.png');">
      <div class="form-group-button">
        <a routerLink="/empLogin">
          <button type="submit" class="btn btn-transparent btn-lg" style="color: white; border-color: white; font-size: 50px;">Employee</button>
        </a>
      </div>
    </div>
    <div class="col-sm-4 no-float align-self-center" style="background-image: url('../../assets/eatFresh.png');">
      <div class="form-group-button">
        <a routerLink="/adminLogin">
          <button type="submit" class="btn btn-transparent btn-lg" style="color: white; border-color: white; font-size: 50px;">Admin</button>
        </a>
      </div>
    </div>
  </div>
</div>

