<div class="wrapper">
  <div class="row">
    <div class="col-sm-4 no-float align-self-center" style="background-image: url('../../assets/ShopNow-BG2.png'); background-position: right -40vh top -40vh;">
      <div class="form-group-button">
        <!-- TODO: Add Customer login link -->
        <a routerLink="/userLogin">
          <div class="card">
            <h1>Customer</h1>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-4 no-float align-self-center" style="background-image: url('../../assets/ShopNow-BG.png');">
      <div class="form-group-button">
        <a routerLink="/empLogin">
          <div class="card">
            <h1>Employee</h1>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-4 no-float align-self-center" style="background-image: url('../../assets/eatFresh.png');">
      <div class="form-group-button">
        <a routerLink="/adminLogin">
          <div class="card">
            <h1>Admin</h1>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

