<div>
    <h2>Product Actions</h2>
        <a routerLink="addProducts">Add Products</a> | <a routerLink="deleteProducts">Delete Products</a> | <a routerLink="updateProducts">Update Products </a> 
    <hr>
    <h2>Employee Actions</h2>
        <a routerLink="addEmployee">Add Employee </a> | <a routerLink="deleteEmployee">Delete Employee </a>
    <hr>
    <h2>Other</h2>
        <a routerLink="viewRequests">View Requests </a> | <a routerLink="generateReports">Generate Reports </a>
    <hr>
    <input type="button" value="Logout" (click)="logOut()">
    <router-outlet></router-outlet>
  </div>