<div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
      <a class="navbar-brand" href="#" style="font-family: Inconsolata; font: 50px;">G20 Grocers</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" style="font-family: Inconsolata;">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link">Welcome to the store, {{userUname}}</a>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav ml-auto" style="font-family: Inconsolata;">
        <li class="nav-item">
          <a class="nav-link" href="/userHome/{{userUname}}">
            View-Profile
          </a>
        </li>
        <li class="nav-item">
          <!-- TODO: Add link -->
          <a class="nav-link" href="/userShop/{{userUname}}">
            Back to Shopping!
          </a>
        </li>
      </ul>
    </nav>
<div class = "content">
    <table class="table">
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th></th>
        </tr>
        <tr *ngFor="let p of products">
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
            <td><a href="">Remove Item</a></td>
        </tr>
    </table>
    <br><br>
    <p>Total Price: {{totalPrice}}</p>
    <br><br>
    <form [formGroup] = "dummyRef" (ngSubmit)="checkOut()">
        <input class="btn btn-primary" type="submit" value="Checkout!">
    </form>
    <span style="color: red;">{{badMsg}}</span>
</div>